%form.form-inline{ action: '/', method: :get, role: 'form', data: { title: 'Фильтр студентов' } }
  .form-group
    %select.form-control{ name: 'student_group_id' }
      %option{ value: '' } Выберите группу
      - @student_groups.each do |group|
        %option{ value: group.id, selected: params[:student_group_id].to_i == group.id }= group.title
  .form-group
    %label.sr-only{ for: 'ball_from' } Балл от
    %input.form-control#ball_from{ type: 'text', name: 'ball_from', placeholder: 'Балл от', value: params[:ball_from] }

  .form-group
    %label.sr-only{ for: 'ball_to' } Балл до
    %input.form-control#ball_to{ type: 'text', name: 'ball_to', placeholder: 'Балл до', value: params[:ball_to] }

  .form-group
    %label.sr-only{ for: 'student_name' } Имя
    %input.form-control#student_name{ type: 'text', name: 'student_name', placeholder: 'Имя', value: params[:student_name] }

  .form-group
    %label.sr-only{ for: 'semester' } Семестр
    %input.form-control#semester{ type: 'text', name: 'semester', placeholder: 'Семестр', value: params[:semester] }

  .form-group
    %label.sr-only{ for: 'student_ip' } IP
    %input.form-control#student_ip{ type: 'text', name: 'student_ip', placeholder: 'IP', value: params[:student_ip] }

  %button{ type: 'submit', class: 'btn btn-primary' } Фильтровать

- if @students.present?

  %h4 Список студентов
  = will_paginate @students, renderer: BootstrapPagination::Sinatra

  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th ФИО
        %th Группа
        %th Краткие данные
        %th Хар-ка
    %tbody
      - @students.each do |student|
        %tr
          %td
            %p.bg-warning= student.full_name
            %p
              Средний бал:
              &nbsp;
              %span.label.label-primary= student.average_ball
            %p= "Семестр: #{ student.number_of_semester }"
          %td= student.student_group_title
          %td
            %p.text-success= "ip: #{ student.student_ip }"
            %ol
              - student.students_subjects.each do |st_sub|
                %li= "#{ st_sub.subject_title }: #{ st_sub.ball }"
          %td.col-md-4= student.characteristic

  = will_paginate @students, renderer: BootstrapPagination::Sinatra
